<div id="<%= dom_id course_teacher %>">
  <p>
    <strong>Course:</strong>
    <%= course_teacher.course_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course_teacher.teacher_id %>
  </p>

</div>
